<div class="blogs-container">
  <h2>Blogs</h2>

  <!-- Create Blog Button -->
  <div class="create-blog-button">
    <app-button *ngIf="isLoggedIn" (click)="navigateToCreate()">
      Create New Blog
    </app-button>
    <p *ngIf="!isLoggedIn" class="login-warning">Log in to create a blog.</p>
  </div>

   <!-- Paginator -->
   <mat-paginator
   [length]="totalBlogs"
   [pageSize]="itemsPerPage"
   [pageSizeOptions]="[5, 10, 20]"
   (page)="onPageChange($event)"
 >
 </mat-paginator>



  <!-- List of Blogs -->
  <div *ngFor="let blog of paginatedBlogs" class="blog-item">
    <h3>{{ blog.title }}</h3>
    <p><strong>Author:</strong> {{ blog.author }}</p>
    <p><strong>Created:</strong> {{ blog.createdAt | date }}</p>
    <p>{{ blog.content }}</p>
    <p><strong>Tags:</strong> {{ getFormattedTags(blog.tags) }}</p>

    <div class="likes" *ngIf="blog.allowLikes">
      <button class="like-button" (click)="toggleLike(blog)" aria-label="Toggle Like">
        <img
          [src]="likedBlogs[blog.id] ? '/assets/heart_solid.png' : '/assets/heart_outlined.png'"
          alt="Like"
          class="like-icon"
        />
      </button>
      <span class="like-counter">{{ blog.likes || 0 }}</span>
    </div>


    

    <!-- Blog Actions (Only for Blog Owner) -->
    <div class="blog-actions" *ngIf="blog.authorId === currentUser?.uid">
      <button (click)="navigateToEdit(blog.id)">Edit</button>
      <button (click)="deleteBlog(blog.id)">Delete</button>
    </div>
  </div>

  <!-- Paginator -->
  <mat-paginator
    [length]="totalBlogs"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
