<div class="blog-editor-container">
  <h2>{{ isEditing ? "Edit Blog" : "Create Blog" }}</h2>
  <form (ngSubmit)="saveBlog()">
    <label for="title">Title:</label>
    <input
      id="title"
      [(ngModel)]="blog.title"
      name="title"
      required
      placeholder="Enter the blog title"
    />

    <label for="content">Content:</label>
    <textarea
      id="content"
      [(ngModel)]="blog.content"
      name="content"
      required
      placeholder="Write your blog content"
      rows="10"
    ></textarea>

    <label for="tags">Tags (comma separated):</label>
    <input
      id="tags"
      [(ngModel)]="blog.tags"
      name="tags"
      placeholder="Add tags"
    />
    <div class="checkbox-group">
      <div class="checkbox-item">
        <label>
          <input
            type="checkbox"
            [(ngModel)]="blog.allowComments"
            name="allowComments"
          />
          Allow Comments
        </label>
      </div>
    
      <div class="checkbox-item">
        <label>
          <input
            type="checkbox"
            [(ngModel)]="blog.allowLikes"
            name="allowLikes"
          />
          Allow Likes
        </label>
      </div>
    </div>


    <div class="form-actions">
      <button type="submit">
        {{ isEditing ? "Update Blog" : "Create Blog" }}
      </button>
      <button type="button" (click)="goToBlogs()">Cancel</button>
    </div>
  </form>
</div>
