.blog-editor-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fcfbe8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    color: #748e55;
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  .checkbox-group {
    margin-top: 15px;
  
    .checkbox-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px; /* Space between rows */
  
      label {
        flex: 0 0 120px; /* Align with "Title" label width */
        font-weight: bold;
        white-space: nowrap; /* Prevents text wrapping */
        text-align: left; /* Align the label to the left */
        margin-right: 10px; /* Space between label and checkbox */
      }
  
      input[type='checkbox'] {
        transform: scale(1.2); /* Slightly larger checkbox */
        cursor: pointer;
      }
    }
  }
  

  input,
  textarea {
    width: 96%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    padding-right: 15px;
    border: 1px solid #c49120;
    border-radius: 4px;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;

      &:first-child {
        background-color: #748e55;
        color: #fcfbe8;
        border: none;

        &:hover {
          background-color: #6bba75;
        }
      }

      &:last-child {
        background-color: transparent;
        border: 1px solid #748e55;
        color: #748e55;

        &:hover {
          background-color: #748e55;
          color: #fcfbe8;
        }
      }
    }
  }
}
