/* Base styles for the app layout */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.nature-tracker {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  overflow-y: auto;
}

.centered-main,
main {
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 380px;
  margin-bottom: 150px;
  background-color: #f5f2e3;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    width: 90%;
  }
}
app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #111111;
}
app-navigation {
  position: fixed;
  top: 7cm;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #606060;
}
app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #111111;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
