button {
  background-color: transparent;
  color: inherit; 
  border: none;
  padding: 100; 
  font-size: 1rem; 
  font-weight: bold; 
  cursor: pointer; 
  text-decoration: none; 
  

  &:hover {
    color: #150722; 
  }

  &.active {
    color: #c49120; 
    font-weight: bolder;
  }

  &:focus {
    outline: none; 
  }
}