<div class="registration-container">
  <h2 class="title">Register</h2>
  <form>
    <label for="email">Email Address:</label>
    <input
      #email
      id="email"
      type="email"
      placeholder="Enter your email address"
    />

    <label for="password">Password:</label>
    <input
      #password
      id="password"
      type="password"
      placeholder="Enter your password"
    />

    <label for="repeat-password">Repeat Password:</label>
    <input
      #repeatPassword
      id="repeat-password"
      type="password"
      placeholder="Confirm your password"
    />

    <div class="button-group">
      <button
        type="button"
        (click)="register(email.value, password.value, repeatPassword.value)"
        class="register-button"
      >
        Register
      </button>
      <button type="button" routerLink="/login" class="back-button">
        Back to Login
      </button>
    </div>
  </form>
</div>
