/* Navigation Bar */
.navigation {
  background-color: #111111; /* Same as footer */
  color: #fcfbe8; /* Text color matching footer */
  padding: 20px 10px; /* Consistent padding with footer */
  text-align: center; /* Center-align items */
  display: flex; /* Flexbox for horizontal layout */
  justify-content: center; /* Center the links horizontally */
  gap: 15px; /* Space between links */
}

/* Navigation Links */
.navigation a {
  color: #c49120; /* Footer link color */
  text-decoration: none;
  font-weight: bold;

  border-radius: 5px; /* Optional: Rounded corners */
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth hover transition */
}

/* Hover Effect */
.navigation a:hover {
  background-color: #6bba75;
  color: #111111;
}

/* Active Link */
.navigation a.active {
  border-bottom: 2px solid #6bba75; /* Indicate active link */
}

.selected {
  background-color: #c49120;
  color: #150722;
}

/* Login Button Container */
.login-button-container {
  margin-left: auto;
}

/* Login Button Styling */
.login-button {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between text and icon */
  background-color: #748e55; /* Green button background */
  color: #fcfbe8; /* Light text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

/* Login Button Hover */
.login-button:hover {
  background-color: #6bba75;
  transform: scale(1.05);
}

/* Login Icon Styling */
.login-icon {
  height: 16px;
  width: 16px;
}
