/* Navigation Bar */
.navigation {
  background-color: #fcfbe8c5;
  color: #fcfbe8;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

/* Navigation Links */
.navigation a {
  color: #c49120;
  text-decoration: none;
  font-weight: bold;

  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Hover Effect */
.navigation a:hover {
  background-color: #6bba75;
  color: #150722;
}

/* Active Link */
.navigation a.active {
  border-bottom: 2px solid #6bba75;
}

.selected {
  background-color: #c49120;
  color: #150722;
}

/* Login Button Container */
.login-button-container {
  margin-left: auto;
}

/* Login Button Styling */
.login-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #748e55;
  color: #fcfbe8;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

/* Login Button Hover */
.login-button:hover {
  background-color: #6bba75;
  transform: scale(1.05);
}

/* Login Icon Styling */
.login-icon {
  height: 16px;
  width: 16px;
}

/* General button styling */
app-button {
  display: inline-block;
  background-color: #748e55;
  color: #fcfbe8;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: #748e55;
    transform: scale(1.05);
  }

  &:active {
    background-color: #c49120;
    transform: scale(1);
  }

  &.active {
    background-color: #c49120;
    color: #150722;
    border-radius: 5px;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  &.selected {
    background-color: #c49120;
    color: #150722;
    border-radius: 5px;
    font-weight: bold;
  }
}
