<nav class="navigation">
  <a routerLink="/home" >
    <app-button  [ngClass]="{ 'active': isActive('/home') }" >Home</app-button>
  </a>

  <a routerLink="/blogs" >
    <app-button [ngClass]="{ 'active': isActive('/blogs') }" >Blogs</app-button>
  </a>

  <ng-container *ngIf="isLoggedIn">
    <a routerLink="/profile" >
      <app-button  [ngClass]="{ 'active': isActive('/profile') }" >Profile</app-button>
    </a>
  </ng-container>

  <ng-container *ngIf="userRole === 2" >
    <a  routerLink="/user-management">
      <app-button  [ngClass]="{ 'active': isActive('/user-management') }" >User Management</app-button>
    </a>
</ng-container>



  <div class="login-button-container">
    <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
      <a routerLink="/login">
        <button class="login-button" >
          <span>Login</span>
          <img src="assets/login.png" alt="Login Icon" class="login-icon" />
        </button>
      </a>

    

      
    </ng-container>
    <ng-template #loggedInTemplate>
      <button class="login-button" (click)="logout()">
        <span>Logout</span>
        <img src="assets/logout.png" alt="Logout Icon" class="login-icon" />
      </button>
    </ng-template>
  </div>
</nav>
